* {
    margin: 0;
    padding: 0;
}

.top-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
    
    img{
        width: 100%;
    }
}

.search-bar {

    .search-container {
        background-color: #f0f0f1 !important;
        border-radius: 8px;
        position: relative;
        margin-left: -18rem;

    }

    input[type="text"] {
        width: 100%;
        padding: 8px 30px 8px 30px;
        border: none;
        border-radius: 8px;
        direction: rtl;
        background-color: transparent;

    }

    i.fas.fa-search {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #A1A3A8;
    }
}

.top-bar {


    margin-top: 2%;
    padding: 3px;

    .login {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        padding-left: 1% !important;

        .btn {
            margin-left: 13px;
            text-align: center;
            color: #424750 !important;
            font-weight: bold !important;
        }
    }

    .top-logo {
        img {
            width: 200px;
        }
    }

    .logo-container {
        margin-right: 1%;
    }
}


///



.nav-bar {
    border-bottom: 2px solid #d0d0d0;
    margin-top: 10px;
    margin-bottom: 6px;
    direction: rtl;
    text-wrap: nowrap;
    font-size: small;

    .hamburger-list {
        width: auto;
    }

    .navigation-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-start;
        color: #62666d;

        .the-bordered-one {
            border-left: 2px #e0e0e2 solid;
            padding: inherit;
        }

        .li {
            margin-left: 1rem;
        }

    }
}

.li:hover {
    cursor: pointer;
}

.hamburger-list:hover {
    cursor: pointer;
}

.location:hover {
    cursor: pointer;
}

.location {
    background-color: #fef6ef;
    padding: 7px;
    font-weight: bolder;
    color: #f57f17;
    border-radius: 17px;
}

///


.story {
    margin-top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

    .row {
        display: flex;
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
    }

    .card {
        border: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;

        .card-text {
            font-size: small;

            direction: rtl;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 7rem;
        }

        .card-img-top {
            border-radius: 50%;
            border: 3px solid transparent;
            background-image: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);


        }
    }

}



.carousel {
    margin-top: 10px;

}

.story-two {
    .row {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .card {
        justify-content: center;
        text-align: center;
        border: none;
    }
}

.offers {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 17px;
    background-color: #d62e4e;
    display: flex;
    flex-direction: row-reverse;


    .offers-content {
        flex-direction: row-reverse;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-wrap: nowrap;


        .card {
            text-align: center;
            padding: 10px;

        }

        .card-text {
            color: #4d5053;
            direction: rtl !important;
            font-size: .7rem !important;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            white-space: wrap;
            overflow: hidden;
        }
    }

    .counter {
        padding-left: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .view-all {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}


.super-market {
    background-color: #ebeeed;
    border-radius: 17px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    .haftad-kala {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        font-size: small;
        color: #099d4e;
        background-color: #ffff;
        border-radius: 17px;
        margin-top: 17px;
        padding: 0;
    }

    .super-market-pics {
        display: flex;

        .img {
            height: 10vh;

        }
    }

    .super-market-pics-two {
        height: 10vh;
        display: flex;
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        justify-content: center;

        .twentyfivepercent-off {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80%;
            font-size: small;
            color: #ffffff;
            background-color: #099d4e;
            border-radius: 17px;
            margin-top: 17px;
            padding: 0;
        }
    }
}

.blocks-of-pic {
    margin-top: 10px;
    display: flex;

    .block-of-pictures {
        border-radius: 17px;
    }

}

.category {
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;

    .category-buy {
        font-size: large;
        font-weight: bold;
    }

    .card {
        border: none;

        .card-text {
            font-size: small;
            font-weight: bold;
            text-align: center;
        }
    }
}

.top-brands {
    border: .75px #dddddf solid;
    border-radius: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

    .second {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        padding-bottom: 15px;
    }

    .text {
        font-size: larger;
        font-weight: bold;
    }

    .col-lg-2 {
        border-left: .75px #dddddf solid;
    }

    .img-fluid {
        height: 110px;
        height: 110px;
        object-fit: contain;
    }
}

.weird-table {
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid #ebeeed 1.75px;
    border-radius: 7px;

    .col-lg {
        margin: 0px 5px 5px 0px;
        border-right: solid #ebeeed 1.75px;
        ;
    }

    .text-titr,
    .text-caption {
        direction: rtl;
    }

    .text-titr {
        padding-top: .5rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    .text-caption {
        font-size: 0.9rem;
        color: #81858B;
        font-weight: lighter;
    }

    .first-pic {
        border-right: solid 1.75px #ebeeed;
    }

    .second-pic {
        border-bottom: solid 1.25px #ebeeed;
    }

    .third-pic {
        border-top: solid 1.25px #ebeeed;
    }

    .fourth-pic {
        border-left: solid 1.75px #ebeeed;
    }


    .moshahede {
        color: #60d3e1;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
    }

}

.digiclub {
    background-image: linear-gradient(90deg, rgba(53, 166, 200, 1) 0%, rgba(0, 114, 149, 1) 100%);
    direction: rtl;
    border-radius: 17px;

    .col-lg-3 {
        display: flex;
        align-items: center;

    }

    .card {
        height: 11vh;
        width: fit-content;
        display: flex;
        flex-direction: row;
        direction: ltr;
    }

    .col-lg-7 {
        .col-lg-4 {
            display: flex;
            margin: 0;
            justify-content: space-evenly;
            padding-left: 1px;
            padding-right: 0;

            .card {
                text-align: center;
            }

            .card-text {
                padding-top: 20%;
                text-wrap: nowrap;
                font-weight: bold;
                font-size: small;
            }
        }

        .first {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .second {
            border-radius: 0;
        }

        .third {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.most-sold {
    margin-top: 25px;
    flex-direction: row-reverse;
    border: solid #ebeeed 1.75px;
    border-radius: 7px;
    padding: 5vh !important;

    .most-sold-top-row {
        color: #4d5053;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
    }

    .col-lg-1 {
        .row {
            display: flex;
            direction: rtl;
            text-wrap: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }

    .col-lg-4+.col-lg-1 {
        color: #19bfd3;
        font-size: 2rem;
        font-weight: bold;
    }

    .col-lg-1+.col-lg-7 {

        color: #4d5053;
        font-size: .9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
        padding-right: .75rem !important;

    }

    .bottom-border {
        border-bottom: solid transparent 1.75px;
        border-image: linear-gradient(to left, #d16ba500, #c777b800, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #46eefa00, #5ffbf100);
        border-image-slice: 1;
    }

    .top-border {
        border-top: solid transparent 1.75px;
        border-image: linear-gradient(to left, #d16ba500, #c777b800, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #ebeeed, #46eefa00, #5ffbf100);
        border-image-slice: 1;
    }
}

.haghe-forush {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
        border-radius: 17px;
    }
}

.off {
    .off-top {
        color: #4d5053;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
    }

    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid #ebeeed 1.75px;
    border-radius: 7px;

    .off-content {

        padding: 10px;

        .row {
            display: flex;
            flex-direction: column;

            direction: ltr;

            .lowered-price {
                color: #81858B;
                font-size: small;
                text-decoration: line-through;
            }

        }

    }

    .border-bottom {
        border-bottom: solid #ebeeed 1.75px;
    }
}

.off .off-content {
    border-left: solid #ebeeed 1.75px;

    .img-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.magazine {
    padding-bottom: 50px;
    padding-top: 25px;
    direction: rtl;

    .flex-end {
        display: flex;
        flex-direction: row-reverse;
    }

    .khandani-ha {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .mataleb-bishtar {
        font-weight: bold;
        font-size: .8rem;
        color: #19bfd3;
    }

    .card {
        direction: rtl;
        color: #4d5053;
        font-size: .8rem;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
    }

}


//footer///

.footer {
    border-top: 0.5px #f1f1f1 solid;

    .footer-top-logo {
        padding-top: 30px;
        direction: rtl;
        display: flex;
        justify-content: space-between;

    }

    .back-to-top {
        color: #a1a3a8;
        font-size: small;
        font-weight: bolder;
        display: flex;
        direction: ltr;

        .back-to-top-text {
            border: 0.5px solid #f1f1f1;
            border-radius: 7px;
            text-align: center;
            padding: 9px;
        }

    }


    .footer-phone {
        margin-top: 8px;
        text-align: center;
        direction: rtl;
        font-size: small;
        text-wrap: nowrap;
        color: #424750;

        .the-bordered-one {
            border-left: solid 2px #b4b4b4;
            border-right: solid 2px #b4b4b4;
        }
    }

    .footer-icons {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .footer-icon-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon-row>.col-lg {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        text-align: center;
        text-wrap: nowrap;
    }

    .footer-hamrahe-ma {
        margin-top: 45px;
        display: flex;
        direction: rtl;

        .hamrahe-ma-rows {
            display: flex;
            flex-direction: column;
            text-wrap: nowrap;
        }

        .footer-search-bar {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            margin: 0;
            padding: 0;

            .search-container {
                background-color: #f0f0f1 !important;
                border-radius: 8px;
                position: relative;
                width: 95%;
            }

            input[type="text"] {
                width: 100%;
                padding: 8px 30px 8px 30px;
                border: none;
                border-radius: 8px;
                direction: rtl;
                background-color: transparent;

            }

            .btn {
                background-color: #e0e0e2 !important;
                border: none !important;
                color: white;

            }

        }
    }

    .rahnama {
        span {
            color: #81858b;
        }

        .col-lg {
            padding-bottom: 4px;
        }
    }

    .social-medias {
        .col-lg {
            padding-bottom: 21px;

        }

        .social-media-icons {
            display: flex;
            justify-content: space-around;
        }
    }
    .download{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #3c4b6d;
        padding: 15px;
       direction: rtl;
       border-radius: 7px;
        .logo-row{
            display: flex;
            flex-direction:row;
            align-items: center;
            // font-size: larger;
            font-weight: bold;
            color: white;
        }

        .app-row{
            display: flex;
            justify-content: end;
            .more{
                background-color: white;
                border-radius: 5px;
            }
        }
    }

    .namad-etemad{
        border-top: 0.5px #f1f1f1 solid;
        border-bottom: 0.5px #f1f1f1 solid;
        margin-bottom: 45px;

        .main-row{
            margin-top:25px;
            padding-bottom:25px;

        }
            .text-row{

                display: flex;
                flex-direction: column;

                h5{
                    color: #62666d;
                }
                p{
                    color: #81858b;
                    font-size: small;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    line-clamp: 4;
                    text-overflow: ellipsis;
                    white-space: wrap;
                    overflow: hidden;
                    
                }
            }
        .img-fluid{
            padding: 10px;
            border: solid #ebeeed 1.75px;
            border-radius: 7px;
        }

    }

    .footer-bottom-text{
        display: flex;
        direction: rtl;
        justify-content: center;
        align-items: center;
        text-wrap:nowrap;
        color: #81858b;
        font-size: small;
    }


}

.digikala-subwebs{
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #f0f0f1;
        .col-lg{
            padding: 25px;
        }
    }

    .first-row{
        border-bottom: solid #e0e0e2 1px;

    }
    .col-lg{
        border-right:  solid #e0e0e2 1px;
    }

}

.sticky-button {
    position: fixed;
    bottom: 0; 
    right: 0; 
    z-index: 1000; 
    margin-bottom: 45px;
    margin-right: 65px;
    padding: 15px;
    background-color: #ef4056;
    border-radius: 50%;
    box-shadow: none;
    border: none;
  }